
body { background: #0a1535 url("../images/font/body2.jpg") no-repeat center bottom; padding-bottom: 107px; }
.body { width: 100%; background: url("../images/font/body1.jpg") no-repeat center top; }
nav { width: 553px; height: 60px; margin: 0 auto; background: url(../images/topbg.png); transition: all .3s ease-out; }
nav ul { padding: 16px 0 0 86px; overflow: hidden; font: 14px/1 '微软雅黑'; color: #00ace3; }
nav li { float: left; margin: 0 18px; }
nav a { color: #00ace3;  transition: 0.6s; -webkit-transition: 0.6s; -moz-transition: 0.6s; -ms-transition: 0.6s;  }
nav a:hover { color: #fff; text-shadow: 0 0 10px #fff; }
#myInfo { width: 610px; margin: 60px auto 0; }
#myInfo .head { padding: 9px; width: 104px; height: 104px; background: url("../images/font/circle1.png") no-repeat left top; margin: 0 auto; }
#myInfo .head img { width: 96px; height: 96px; border-radius: 52px; border: 4px solid #29abe2; background-color: #ececec; }
#myInfo .name { width: 100%; text-align: center; padding-bottom: 12px; }
#myInfo .name h3 { height: 50px; font: 32px/50px '微软雅黑,黑体'; color: #fff; }
#myInfo .name p { font: 14px/1 '微软雅黑,黑体'; color: #299dd4; }
.myInfoItem { width: 496px; height: 208px; padding-left: 116px; padding-top: 49px; background: url("../images/font/infobg.png") no-repeat left top; margin-bottom: 100px; }
.myInfoItem li { float: left; width: 230px; height: 26px; font: 14px/26px '微软雅黑,黑体'; color: #299dd4; }
.myInfoItem span { color: #fff; }
.myInfoItem a { color: #fff; transition: 0.6s; -webkit-transition: 0.6s; -moz-transition: 0.6s; -ms-transition: 0.6s; }
.myInfoItem a:hover { color: #299dd4; text-shadow: 0 0 10px #299dd4; }
#exp { width: 920px; margin: 0 auto; }
.title { width: 262px; height: 86px; margin: 0 auto 72px; background: url("../images/font/title.png") no-repeat center; text-align: center; }
.title span { display: inline-block; height: 100%; font: 24px/86px '微软雅黑,黑体'; color: #fff; text-shadow: 0 0 8px #fff; }
#exp .box { max-width: 100%; text-align: center; font-size: 0; }
.box .item { display: inline-block; width: 202px; height: 275px; margin: 0 50px; cursor: pointer; }
.box .img { width: 176px; height: 176px; margin: 0 0 9px 12px; }
.box .img .circle { width: 176px; height: 176px; background: url("../images/font/circle2.png") no-repeat center; background-size: cover; margin-bottom: -176px; -webkit-transition: all .2s linear; transition: all .2s linear; -webkit-transform: scale(1) rotate(0deg); transform: scale(1) rotate(0deg); }
.box .img .photo { width: 160px; height: 160px; overflow: hidden; border-radius: 50%; margin: 8px; background-color: #fff; position: relative; }
.box .img img { width: 160px; height: 160px; }
.box .img .shadow { width: 160px; height: 160px; border-radius: 50%; box-shadow:0 0 30px 10px #0bb inset; position: absolute; top: 0; opacity: 0; transition: all .1s linear; }
.box .img:hover .shadow { opacity: 1; }
.box .img:hover .circle { -webkit-transform: scale(1.1) rotate(-30deg); transform: scale(1.1) rotate(-30deg); -webkit-animation: round 10s linear .2s infinite; animation: round 10s linear .2s infinite; }
.box .text { width: 100%; text-align: center; }
.box .text h4 { font: 18px/26px '微软雅黑,黑体'; color: #fff; }
.box .text p { font: 14px/1 '微软雅黑,黑体'; color: #00b7ee; }

@-webkit-keyframes round {

0% { -webkit-transform: scale(1.1) rotate(-30deg); }
7% { -webkit-transform: scale(1.1) rotate(60deg); }
16% { -webkit-transform: scale(1.1) rotate(-90deg); }
23% { -webkit-transform: scale(1.1) rotate(30deg); }
30% { -webkit-transform: scale(1.1) rotate(-40deg); }
36% { -webkit-transform: scale(1.1) rotate(110deg); }
46% { -webkit-transform: scale(1.1) rotate(10deg); }
51% { -webkit-transform: scale(1.1) rotate(180deg); }
57% { -webkit-transform: scale(1.1) rotate(50deg); }
61% { -webkit-transform: scale(1.1) rotate(130deg); }
66% { -webkit-transform: scale(1.1) rotate(-50deg); }
77% { -webkit-transform: scale(1.1) rotate(70deg); }
84% { -webkit-transform: scale(1.1) rotate(-110deg); }
90% { -webkit-transform: scale(1.1) rotate(10deg); }
95% { -webkit-transform: scale(1.1) rotate(-90deg); }
100% { -webkit-transform: scale(1.1) rotate(-30deg); }

}
@keyframes round {

0% { transform: scale(1.1) rotate(-30deg); }
7% { transform: scale(1.1) rotate(60deg); }
16% { transform: scale(1.1) rotate(-90deg); }
23% { transform: scale(1.1) rotate(30deg); }
30% { transform: scale(1.1) rotate(-40deg); }
36% { transform: scale(1.1) rotate(110deg); }
46% { transform: scale(1.1) rotate(10deg); }
51% { transform: scale(1.1) rotate(180deg); }
57% { transform: scale(1.1) rotate(50deg); }
61% { transform: scale(1.1) rotate(130deg); }
66% { transform: scale(1.1) rotate(-50deg); }
77% { transform: scale(1.1) rotate(70deg); }
84% { transform: scale(1.1) rotate(-110deg); }
90% { transform: scale(1.1) rotate(10deg); }
95% { transform: scale(1.1) rotate(-90deg); }
100% { transform: scale(1.1) rotate(-30deg); }

}

#work { width: 780px; margin: 0 auto; }
.workBox { width: 388px; border-right: 4px solid #00ace3; }
.content { width: 344px; }
.workBox .item { width: 436px; }
.workBox .item:nth-child(2n+1) { float: right; margin-right: -392px; }
.workBox .item:nth-child(2n+1) .content { float: right; }
.workBox .item:nth-child(2n) { float: left; }
.workBox .item:nth-child(2n) .content { float: left; }
.workBox i { display: inline-block; width: 18px; height: 18px; border: 2px solid #fff; background-color: #29a0d7; border-radius: 11px; margin: 38px 35px; }
.workBox .head { width: 304px; height: 95px; background: url("../images/font/title2.png"); padding-left: 40px; }
.workBox .head img { width: 40px; height: 40px; float: left; margin-top: 28px; }
.workBox .name { vertical-align: middle; display: inline-block; margin-left: 5px; width: 236px; }
.workBox .name h4 { font: 14px/22px '微软雅黑,黑体'; color: #fff; }
.workBox .name p { font: 14px/20px '微软雅黑,黑体'; color: #29a0d7; }
.workBox .text { margin-left: 20px; width: 303px; padding-bottom: 14px; background: url("../images/font/bg3.png") no-repeat left bottom; }
.workBox .text dt { padding: 9px 0 0 13px; height: 30px; font: 14px/30px '微软雅黑,黑体'; color: #fff; }
.sta { height: 95px; vertical-align: middle; display: inline-block; }
.workBox .text dd { padding-left: 13px; font: 14px/22px '微软雅黑,黑体'; color: #29abe2; }
.workBox .text dt, .workBox .text dd { background-color: #1b1325; border-left: 1px solid #00ace3; border-right: 1px solid #00ace3; }

#backBg { width: 100%; height: 100%; background-color: rgba(0,0,0,0.6); position: fixed; top: 0; display: none; }
.pop-top { width: 524px; padding-top: 48px; background: url("../images/font/alert1.png") no-repeat right top; z-index: 101; position: absolute; left: 50%; top: 20%; margin-left: -262px; transform: translate3d(0,80px,0); transition: 0.5s; opacity: 0 }
.pop-bottom { width: 100%; padding-bottom: 28px; background: url("../images/font/alert2.png") no-repeat right bottom; }
.pop { width: 479px; border-left: 1px solid #00a9e0; border-right: 1px solid #00a9e0; background-color: #1b1325; padding: 0 21px 10px 22px; }
.pop .photo { height: 90px; overflow: hidden; margin-right: -10px; margin-bottom: 10px; }
.pop .photo img { width: 153px; height: 90px; margin-right: 10px; float: left; }
.pop ul, .pop ul a { color: #29abe2; }
.pop ul a {  text-decoration: underline; display: inline-block; padding-right: 23px; background: url("../images/font/link.png") no-repeat right center; }
.pop ul span, .pop ul p { color: #fff; }
.pop ul li { font: 14px/24px '微软雅黑,黑体'; }
.pop ul p { display: inline-block; width: 406px; vertical-align: top; }
.pop .close { position: absolute; top: 26px; right: 8px; width: 14px; height: 13px; background: url("../images/font/close.png"); }

#ecode { width: 90px; height: 90px; position: absolute; right: 22px; top: 146px; }
#ecode img { width: 100%; height: 100%; }

.cool { position: fixed; right: 20px; top: 20px; width: 138px; height: 30px; background: url("../images/icons/a.png") no-repeat 0 -120px; z-index: 30; }
.cool:hover { background-position: 0 -80px; }

#skill { margin-bottom: 100px; }
.skillBox { width: 900px; height: 450px; margin: 16px auto; position: relative; perspective: 600px; transform-style:preserve-3d; -webkit-perspective: 600px; -webkit-transform-style:preserve-3d; }

#skillUl li { position: absolute; width: 900px; height: 450px; position: absolute; left: 0; top: 0; z-index: 10; border: 1px solid  #00b7ee; border-radius: 20px; overflow: hidden; tranform-origin:right; -webkit-tranform-origin:right; background-color: rgba(22,22,39,0.5); padding: 12px 0; visibility: hidden; }
#skillUl .skillChart { width: 100%; height: 100%;  }
#skillTable { position: absolute; left: 50%; z-index: 100; bottom: -10px; }
#skillTable a { float: left; width: 14px; height: 16px; margin: 0 15px; position: relative; left: -50%; background: url("../images/icons/table.png") no-repeat left; opacity: .6;
} 
#skillTable a:hover { opacity: 1; }

#skillUl li.active { visibility: visible; transform-origin:center; -webkit-transform-origin:center; }
#skillTable .active { background-position: right; }

#skillUl .skillChart { width: 100%; height: 100%; }

#skill .leftHide { 
	animation: 1s skillLeftHide;  
	-webkit-animation: 1s skillLeftHide;  
	-moz-animation: 1s skillLeftHide;  
	-ms-animation: 1s skillLeftHide;  
	visibility:hidden; 
} 
#skill .rightShow { 
	animation: 1s skillRightShow; 
	-webkit-animation: 1s skillRightShow; 
	-moz-animationanimation: 1s skillRightShow; 
	-ms-animation: 1s skillRightShow; 
	visibility:visible; 
	z-index:3;
}

@keyframes skillLeftHide{
  0% { transform: translate3d(0,0,0) rotateY(180deg); opacity: 1; visibility:visible; }
  100% { transform: translate3d(0,0,100px) rotateY(220deg); opacity: 0; transform-origin:left 50% 0px; }
}
@-webkit-keyframes skillLeftHide{
  0% { -webkit-transform: translate3d(0,0,0) rotateY(180deg); opacity: 1; visibility:visible; }
  100% { -webkit-transform: translate3d(0,0,100px) rotateY(220deg); opacity: 0; -webkit-transform-origin:left 50% 0px; }
}
@-moz-keyframes skillLeftHide{
  0% { -moz-transform: translate3d(0,0,0) rotateY(180deg); opacity: 1; visibility:visible; }
  100% { -moz-transform: translate3d(0,0,100px) rotateY(220deg); opacity: 0; -moz-transform-origin:left 50% 0px; }
}
@-ms-keyframes skillLeftHide{
  0% { -ms-transform: translate3d(0,0,0) rotateY(180deg); opacity: 1; visibility:visible; }
  100% { -ms-transform: translate3d(0,0,100px) rotateY(220deg); opacity: 0; -ms-transform-origin:left 50% 0px; }
}

@keyframes skillRightShow { 
  0% { transform: translate3d(100%,0,100px) rotateY(-40deg); opacity: 0; }
  100% { transform: translate3d(0,0,0) rotateY(0deg); opacity: 1; transform-origin:center 50% 0px; }
}
@-webkit-keyframes skillRightShow { 
  0% { -webkit-transform: translate3d(100%,0,100px) rotateY(-40deg); opacity: 0; }
  100% { -webkit-transform: translate3d(0,0,0) rotateY(0deg); opacity: 1; -webkit-transform-origin:center 50% 0px; }
}
@-moz-keyframes skillRightShow { 
  0% { -moz-transform: translate3d(100%,0,100px) rotateY(-40deg); opacity: 0; }
  100% { -moz-transform: translate3d(0,0,0) rotateY(0deg); opacity: 1; -moz-transform-origin:center 50% 0px; }
}
@-ms-keyframes skillRightShow { 
  0% { -ms-transform: translate3d(100%,0,100px) rotateY(-40deg); opacity: 0; }
  100% { -ms-transform: translate3d(0,0,0) rotateY(0deg); opacity: 1; -ms-transform-origin:center 50% 0px; }
}

#skill .leftShow { 
	animation: 1s skillLeftShow; 
	-webkit-animation: 1s skillLeftShow; 
	-moz-animation: 1s skillLeftShow; 
	-ms-animation: 1s skillLeftShow; 
	visibility: visible; 
	z-index: 3; }
#skill .rightHide {
	animation: 1s skillRightHide; 
	-webkit-animation: 1s skillRightHide; 
	-moz-animation: 1s skillRightHide; 
	-ms-animation: 1s skillRightHide; 
	visibility: hidden;  
}


@keyframes skillLeftShow{
  0% { transform: translate3d(-100%,0,100px) rotateY(40deg); opacity: 0; }
  100% { transform: translate3d(0,0,0) rotateY(0deg); opacity: 1; transform-origin:center 50% 0px; }
}
@-webkit-keyframes skillLeftShow{
  0% { -webkit-transform: translate3d(-100%,0,100px) rotateY(40deg); opacity: 0; }
  100% { -webkit-transform: translate3d(0,0,0) rotateY(0deg); opacity: 1; -webkit-transform-origin:center 50% 0px; }
}
@-moz-keyframes skillLeftShow{
  0% { -moz-transform: translate3d(-100%,0,100px) rotateY(40deg); opacity: 0; }
  100% { -moz-transform: translate3d(0,0,0) rotateY(0deg); opacity: 1; -moz-transform-origin:center 50% 0px; }
}
@-ms-keyframes skillLeftShow{
  0% { -ms-transform: translate3d(-100%,0,100px) rotateY(40deg); opacity: 0; }
  100% { -ms-transform: translate3d(0,0,0) rotateY(0deg); opacity: 1; -ms-transform-origin:center 50% 0px; }
}

@keyframes skillRightHide { 
  0% { transform: translate3d(0,0,0) rotateY(180deg); opacity: 1; visibility:visible; }
  100% { transform: translate3d(0,0,100px) rotateY(140deg); opacity: 0; transform-origin:right 50% 0px; }
}
@-webkit-keyframes skillRightHide { 
  0% { -webkit-transform: translate3d(0,0,0) rotateY(180deg); opacity: 1; visibility:visible; }
  100% { -webkit-transform: translate3d(0,0,100px) rotateY(140deg); opacity: 0; -webkit-transform-origin:right 50% 0px; }
}
@-moz-keyframes skillRightHide { 
  0% { -moz-transform: translate3d(0,0,0) rotateY(180deg); opacity: 1; visibility:visible; }
  100% { -moz-transform: translate3d(0,0,100px) rotateY(140deg); opacity: 0; -moz-transform-origin:right 50% 0px; }
}
@-ms-keyframes skillRightHide { 
  0% { -ms-transform: translate3d(0,0,0) rotateY(180deg); opacity: 1; visibility:visible; }
  100% { -ms-transform: translate3d(0,0,100px) rotateY(140deg); opacity: 0; -ms-transform-origin:right 50% 0px; }
}


